nohup*
datasets
lewm
wandb
outputs
dataset_gen/franka/push/check
__pycache__/
env/__pycache__/
env/franka/__pycache__/
*.mp4
lightning_logs
environment*
requirements_frozen*
*nohup*
dataset_gen/franka/push/analyze_shade_image/images/*
robot/teleop/plots/figures/
robot/utils/plots/figures/
__pycache__/*

*.py[cod]